<form action="" class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">title</label>
    <input type="text" id="title" #newtitle />
    <!-- changed #newtitle added-->
  </div>
  <div class="field">
    <label for="link">Link</label>
    <input type="text" name="link" id="link" #newlink />
    <!-- changed - #newlink added-->
  </div>
  <!-- This is the button added with seamntic ui classes-->
  <button
    (click)="addArticle(newtitle, newlink)"
    class="ui violet inverted right floated button"
  >
    Submit link
  </button>
</form>
<!-- start adding here -->
<div class="ui grid posts">
  <app-new-article
    *ngFor="let newArticle of newArticles"
    [newArticles]="newArticle"
  >
  </app-new-article>
</div>
<!-- end adding here -->

<!-- adding the new-article-component  -->
<div class="ui grid posts">
  <app-new-article> </app-new-article>
</div>
